{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class='row'>
    <div class="col-12 text-center py-5">
             {% if key %}
                <h1 class='my-5 py-5'>{% trans "Activation Error. Please try again" %}.</h1>
            {% else %}
                <h1 class='my-5 py-5'>{% trans "Re-activate your Email" %}.</h1>
            {% endif %}
      </div>
        <div class="col-12 text-center">
            <form method='POST' action=''>{% csrf_token %}
                {{ form.as_p }}
                <input class='btn btn-default' type='submit' value='Resend Activation' />
            </form>
      </div>
</div>
{% endblock %}