{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class='row'>
    <div class='col-md-6 mx-auto base-canvas-cell'>
        <h1>{% trans "Change your Password" %}</h1>
        <form method='post' action=''>{% csrf_token %}
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col">
                    <label for="{{ form.old_password.id_for_label }}">{% trans "Old password" %}:</label>
                </div>
                <div class="col">
                    {{ form.old_password }}
                </div>
            </div>
            <div class="row form-errors">
                {{ form.old_password.errors }}
            </div>
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col">
                    <label for="{{ form.new_password1.id_for_label }}">{% trans "New password" %}:</label>
                </div>
                <div class="col">
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="row form-errors">
                {{ form.new_password1.errors }}
            </div>
            <br>
            <hr>
            <div class="row">
                <span class="helptext">
                    <ul>
                        <li>{% trans "Your password can't be too similar to your other personal information" %}.</li>
                        <li>{% trans "Your password must contain at least 8 characters" %}.</li>
                        <li>{% trans "Your password can't be a commonly used password" %}.</li>
                        <li>{% trans "Your password can't be entirely numeric" %}.</li>
                    </ul>
                </span>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col">
                    <label for="{{ form.new_password2.id_for_label }}">{% trans "New password confirmation" %}:</label>
                </div>
                <div class="col">
                    {{ form.new_password2 }}
                </div>
            </div>
            <div class="row form-errors">
                {{ form.new_password2.errors }}
            </div>
            <br>
            <div class="row">
                <div class="col-10">
                    {{ form.non_field_errors }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-info">{% trans "Save" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}