{% extends "base.html" %}
{% load i18n %}
{% block content %}


{% if not billing_profile %}
{% include "carts/checkout/has_nothing.html" %}
{% else %}

{% if not object.shipping_address and shipping_address_required %}
{% include "carts/checkout/has_billingprofile_shiprequired.html" %}
{% elif not object.billing_address %}
{% include "carts/checkout/has_billingprofile.html" %}
{% else %}

{% if not has_card %}
{% include "carts/checkout/has_billingprofile_shipping.html" %}
{% else %}
{% include "carts/checkout/has_billingprofile_shipping_card.html" %}
{% endif %}

{% endif %}

{% endif %}


{% endblock %}
