{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="col-12 col-md-6 mx-auto">
{% if title %}<h1 class="my-3">{{ title }}</h1>{% endif %}
<form method="POST" action="{% if action_url %}{{ action_url }}{% else %}{% url 'login' %}{% endif %}">

    {% csrf_token %}

    {% if next_url %}
        <input type="hidden" name="next" value="{{ next_url }}" />
    {% endif %}

{{ form.as_p }}

<button type='submit' class='btn btn-outline-success' style="margin-left:25em;">{% trans "Save" %}</button>
</form>
</div>

{% endblock %}
