{% load static %}
<!-- optional JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<!-- jquery confirm JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- eCommerce Sales Data JS -->
<script src='{% static "js/ecommerce.sales.js" %}'></script>
<!-- ecommerce custom JS -->
<script src="{% static 'js/ecommerce.js' %}"></script>
<!-- ecommerce main JS -->
<script src="{% static 'js/ecommerce.main.js' %}"></script>
<!-- csrf security AJAX JS -->
<script src="{% static 'js/csrf.ajax.js' %}"></script>
<!-- stripe JS -->
<script src="https://js.stripe.com/v3/"></script>
<!-- JS render -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.4/jsrender.min.js"></script>
<!-- base templates -->
{% include 'base/js_templates.html' %}
<!-- Chart.js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js'></script>
<!-- PayPal -->
<script src="https://www.paypal.com/sdk/js?client-id=AZg6Q6tPSt0bY-B7-S5nMsEQ7cJQ9dOE_RH55IW4F18UAjLBJdivHJ1GBQsVjyZm2zzAt-dXLNX9mE9I&currency=USD"></script>