{% load i18n %}
{% load static %}

<div class="right-field">
    <span>
        <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=22&l=ur1&category=homeandoutdoor&banner=0ZGPJ6QWGXFH56Q24A02&f=ifr&linkID=5c36abb504aa0f4ec300dd353a386863&t=olyastudio-20&tracking_id=olyastudio-20" width="250" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        <p class="text-center">Special for you:</p>
        <div class="base-canvas-cell-small promo-code">
            <a target="_blank" href="https://www.amazon.com/promocode/A14SVG67U75JKQ?ref_=assoc_tag_ph_1524215243488&_encoding=UTF8&camp=1789&creative=9325&linkCode=pf4&tag=olyastudio-20&linkId=4fe3fcb629d90c822ae36aa7b73870c1">Save 70.0% on OUSFOT - promo code 70S9L7I8</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=olyastudio-20&l=pf4&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </div>
        <br>
        <div class="base-canvas-cell-small promo-code">
            <a target="_blank" href="https://www.amazon.com/promocode/A17SCMEPFK4BGJ?ref_=assoc_tag_ph_1524215243555&_encoding=UTF8&camp=1789&creative=9325&linkCode=pf4&tag=olyastudio-20&linkId=ba535a0282557ef63a1bd34917f21364">Save 10.0% on ZITRADES - promo code 10SU22IE</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=olyastudio-20&l=pf4&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </div>
        <hr>
            <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=22&l=ur1&category=homeandkitchen&banner=0PSXNS8E51QMK8VCMQ82&f=ifr&linkID=306ab4617e69eedcaac6736414dfe68e&t=olyastudio-20&tracking_id=olyastudio-20" width="250" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        <hr>
        <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=22&l=ur1&category=beauty&banner=04XCSE6T0AFM7MK75482&f=ifr&linkID=5ee4516f6657cc84a5716a4302435f88&t=olyastudio-20&tracking_id=olyastudio-20" width="250" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </span>
</div>