{% extends "base.html" %}
{% load i18n %}
{% block content %}

 <div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
         <h1>{% trans "Order" %} {{ object.order_id }}</h1>
          <hr/>
    </div>
</div>

<div class='row'>
  <div class='col-12 col-md-6 mx-auto'>
<p>{% trans "Items" %}: {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>{% trans "Shipping Address" %}: {{ object.shipping_address_final }}</p>
<p>{% trans "Billing Address" %}: {{ object.billing_address_final }}</p>
<p>{% trans "Subtotal" %}: {{ object.cart.total }}</p>
<p>{% trans "Shipping Total" %}: {{ object.shipping_total }}</p>
<p>{% trans "Order Total" %}: {{ object.total }}</p>
<p>{% trans "Order Status" %}: {{ object.get_status }}</p>
</div>


{% endblock %}