{% extends "base.html" %}
{% load i18n %}
{% block content %}

 <div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
         <h1>{% trans "Order" %} {{ object.order_id }}</h1>
          <hr/>
    </div>
</div>

<div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
        <div class='row'>
            <div class="col">
                <h4>{% trans "Items" %}:</h4>
            </div>
            <div class="col">
                <h4>{% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</h4>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class="col">
                <h4>{% trans "Shipping Address" %}</h4>
            </div>
            <div class="col">
                <h4>{{ object.shipping_address_final }}</h4>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class="col">
                <h4>{% trans "Billing Address" %}</h4>
            </div>
            <div class="col">
                <h4>{{ object.billing_address_final }}</h4>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class="col">
                <h4>{% trans "Subtotal" %}</h4>
            </div>
            <div class="col">
                <h4>{{ object.cart.total }}</h4>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class="col">
                <h4>{% trans "Shipping Total" %}</h4>
            </div>
            <div class="col">
                <h4>{{ object.shipping_total }}</h4>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class="col">
                <h4>{% trans "Order Total" %}</h4>
            </div>
            <div class="col">
                <h4>{{ object.total }}</h4>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class="col">
                <h4>{% trans "Order Status" %}</h4>
            </div>
            <div class="col">
                <h4>{{ object.get_status }}</h4>
            </div>
        </div>
        <hr>
    </div>
</div>

{% endblock %}