{% load i18n %}
<form method='POST' action="{% if action_url %}{{ action_url }}{% else %}{% url 'login' %}{% endif %}">
    {% csrf_token %}

    {% if next_url %}
        <input type="hidden" name="next" value="{{ next_url }}" />
    {% endif %}

    <div class="row">
        <div class="col">
            <label for="{{ form.email.id_for_label }}">{% trans "Email" %}:</label>
        </div>
        <div class="col">
            {{ form.email }}
        </div>
    </div>
    <div class="row form-errors">
        {{ form.email.errors }}
    </div>
    <div class="row">
        <div class="col">
            <label for="{{ form.password.id_for_label }}">{% trans "Password" %}:</label>
        </div>
        <div class="col">
            {{ form.password }}
        </div>
    </div>
    <div class="row form-errors">
        {{ form.password.errors }}
    </div>
    <hr>
    <div class="row">
        <div class="col-8 form-errors">
            {{ form.non_field_errors }}
        </div>
        <div class="col text-right">
            <button type='submit' class="btn btn-outline-warning">{% trans "Submit" %}</button>
        </div>
    </div>
</form>
