{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div style="margin-left:30%; margin-top:10%;">
{% load static %}
<img class="log" src="{% static 'img/fon_log.png'%}">
    <form class="form-reglog" method='POST'> {% csrf_token %}
    <h1>{% trans "Login" %}</h1>
    <table>
      {{ form.as_table }}
      </table>
      <br>
      <button type='submit' style="margin-left:8.5em;" class='btn btn-outline-danger'>{% trans "Sign in" %}</button>
    </form>
</div>
{% endblock %}
