{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
    <div class="col-3">
    </div>
    <div class="col-5">
        <form class="base-canvas-cell" method='POST'> {% csrf_token %}
            <h1>{% trans "Login" %}</h1>
            <div class="row">
                <div class="col">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                </div>
                <div class="col">
                    {{ form.email }}
                </div>
            </div>
            <div class="row form-errors">
                {{ form.email.errors }}
            </div>
            <div class="row">
                <div class="col">
                    <label for="{{ form.password.id_for_label }}">Password:</label>
                </div>
                <div class="col">
                    {{ form.password }}
                </div>
            </div>
            <div class="row form-errors">
                {{ form.password.errors }}
            </div>
            <hr>
            <div class="row">
                <div class="col-9 form-errors">
                    {{ form.non_field_errors }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-info">{% trans "Sign in" %}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4">
    </div>
</div>

{% endblock %}
