{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
    <div class="col-3">
    </div>
    <div class="col-5">
        <form class="base-canvas-cell" method='POST'> {% csrf_token %}
            <h1>{% trans "Register" %}</h1>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <label for="id_full_name">Full name:</label>
                    </div>
                    <div class="row">
                        <label for="id_email">Email:</label>
                    </div>
                    <div class="row">
                        <label for="id_password1">Password:</label>
                    </div>
                    <div class="row">
                        <label for="id_password2">Password confirmation:</label>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <input type="text" name="full_name" maxlength="255" id="id_full_name">
                    </div>
                    <div class="row">
                        <input type="email" name="email" maxlength="255" required="" id="id_email">
                    </div>
                    <div class="row">
                        <input type="password" name="password1" required="" id="id_password1">
                    </div>
                    <div class="row">
                        <input type="password" name="password2" required="" id="id_password2">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-9">
                </div>
                <div class="col">
                    <button type='submit' class='btn btn-outline-info'>{% trans "Sign up" %}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4">
    </div>
</div>

{% endblock %}
