{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
    <div class="col-3">
    </div>
    <div class="col-5">
        <form class="base-canvas-cell" method="POST"> {% csrf_token %}
            <h1>{% trans "Register" %}</h1>
            <div class="row">
                <div class="col">
                    <label for="{{ form.full_name.id_for_label }}">{% trans "Full name" %}:</label>
                </div>
                <div class="col">
                    {{ form.full_name }}
                </div>
            </div>
            <div class="row form-errors">
                {{ form.full_name.errors }}
            </div>
            <div class="row">
                <div class="col">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                </div>
                <div class="col">
                    {{ form.email }}
                </div>
            </div>
            <div class="row form-errors">
                {{ form.email.errors }}
            </div>
            <div class="row">
                <div class="col">
                    <label for="{{ form.password1.id_for_label }}">{% trans "Password" %}:</label>
                </div>
                <div class="col">
                    {{ form.password1 }}
                </div>
            </div>
            <div class="row form-errors">
                {{ form.password1.errors }}
            </div>
            <div class="row">
                <div class="col">
                    <label for="{{ form.password2.id_for_label }}">{% trans "Password confirmation" %}:</label>
                </div>
                <div class="col">
                    {{ form.password2 }}
                </div>
            </div>
            <div class="row form-errors">
                {{ form.password2.errors }}
            </div>
            <hr>
            <div class="row">
                <div class="col-8 form-errors">
                    {{ form.non_field_errors }}
                </div>
                <div class="col">
                    <button type='submit' class='btn btn-outline-info'>{% trans "Sign up" %}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4">
    </div>
</div>

{% endblock %}
