{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="row mb-3">
    {% if query %}
        <div class="col-12">
            {% trans "Results for" %} <b>{{ query }}</b>
            <hr/>
        </div>
    {% else %}
        <div class="col-12 col-md-6 mx-auto py-4">
          {% include 'search/search-form.html' %}
        </div>
        <div class="col-12">
            <hr>
        </div>
    {% endif %}
    </div>
    <div class="row">
    {% for obj in object_list %}
    <div class="col">
        {{ forloop.counter }}
        {% include 'products/card.html' with instance=obj descipt="0" %}
        {% if forloop.counter|divisibleby:2 %}
            </div></div><div class="row"><div class="col-12"><hr/></div>
        {% elif forloop.counter|divisibleby:2 %}
            </div></div><div class="row"><div class="col-12"><hr/></div>
        {% else %}
            </div>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}
