<div class="card" style="width: 70rem;">
  {% if instance.image %}
    <a href="{{ instance.get_absolute_url }}">
      <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }} logo">
    </a>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ instance.title }}</h5>
    <p class="card-text">{{ instance.description|linebreaks|truncatewords:18 }}</p>
    <div class="row" style="margin-left:0.5%;">
      <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
      {% include 'products/snippets/update-cart.html' with product=instance cart=cart %}
    <h3 style="margin-right: 5%; margin-left: auto; margin-top: 2px;">{{ instance.price }} &#36;</h3>
    </div>
  </div>
</div>