<div class="btn-toolbar" role="toolbar">
  <form action="{% url 'home' %}" method="get">
    <div class="btn-group" role="group">
      <button type="submit" name="price" value="descend" class="btn btn-secondary">Price - descending</button>
      <button type="submit" name="price" value="ascend" class="btn btn-secondary">Price - ascending</button>
    &nbsp;
      <button type="submit" name="time_update" value="descend" class="btn btn-secondary">Time update</button>
      <button type="submit" name="time_update" value="ascend" class="btn btn-secondary">Time update</button>
    </div>
  </form>
</div>
<br>