{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="col-12 col-md-6 mx-auto base-canvas-cell-2">
    {% if title %}
        <h1 class="my-3">{{ title }}</h1>
    {% endif %}
    <form method="POST" action="{{ success_url }}">
        {% csrf_token %}

        <div class="row">
            <div class="col-10">
                <label for="{{ form.subscribed.id_for_label }}">{% trans "Receive Marketing Email" %}?</label>
            </div>
            <div class="col">
                {{ form.subscribed }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-9">
                {{ email }}
            </div>
            <div class="col">
                <button type='submit' class='btn btn-info'>{% trans "Save" %}</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
