{% load i18n %}

<form method="POST" action="{% if action_url %}{{ action_url }}{% else %}{% url 'login' %}{% endif %}">
    {% csrf_token %}

    {% if next_url %}
        <input type="hidden" name="next" value="{{ next_url }}" />
    {% endif %}

    {% if address_type %}
        <input type="hidden" name="address_type" value="{{ address_type }}" />
    {% endif %}

    <div class="row bank-canvas-cell-small-2">
        <div class="col">
            <label for="id_nickname">Nickname:</label>
        </div>
        <div class="col-4">
            <input type="text" name="nickname" maxlength="120" id="id_nickname"><br>
            <span class="helptext">(Internal Reference)</span>
        </div>
        <div class="col">
            <label for="id_name">Name:</label>
        </div>
        <div class="col-4">
            <input type="text" name="name" maxlength="120" id="id_name"><br>
            <span class="helptext">Shipping to? Who is it for?</span>
        </div>
    </div>
    <div class="row bank-canvas-cell-small-2">
        <div class="col">
            <label for="id_address_line_1">Street:</label>
        </div>
        <div class="col-4">
            <input type="text" name="address_line_1" maxlength="120" required="" id="id_address_line_1">
        </div>
        <div class="col">
            <label for="id_address_line_2">Apartment:</label>
        </div>
        <div class="col-4">
            <input type="text" name="address_line_2" maxlength="120" id="id_address_line_2">
        </div>
    </div>
    <div class="row bank-canvas-cell-small-2">
        <div class="col">
            <label for="id_city">City:</label>
        </div>
        <div class="col-4">
            <input type="text" name="city" maxlength="120" required="" id="id_city">
        </div>
        <div class="col">
            <label for="id_country">Country:</label>
        </div>
        <div class="col-4">
            <input type="text" name="country" value="Russia" maxlength="120" required="" id="id_country">
        </div>
    </div>
    <div class="row bank-canvas-cell-small-2">
        <div class="col">
            <label for="id_state">State:</label>
        </div>
        <div class="col-4">
            <input type="text" name="state" maxlength="120" required="" id="id_state">
        </div>
        <div class="col">
            <label for="id_postal_code">Postal code:</label>
        </div>
        <div class="col-4">
            <input type="text" name="postal_code" maxlength="120" required="" id="id_postal_code">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col text-right">
            <button type="submit" class="btn btn-success">{% trans "Submit" %}</button>
        </div>
    </div>
</form>