{% load i18n %}
{% if address_qs.exists %}
    <form method="POST" action="{% if action_url %}{{ action_url }}{% else %}{% url 'login' %}{% endif %}"> {% csrf_token %}

        {% if next_url %}
            <input type="hidden" name="next" value="{{ next_url }}" />
        {% endif %}

        {% if address_type %}
            <input type="hidden" name="address_type" value="{{ address_type }}" />
        {% endif %}

        {% for address in address_qs %}
            <div class="row canvas-cell-small-2">
                <div class="col">
                    <label for="address={{ address.id }}">
                    <input id="address={{ address.id }}" type="radio" name="shipping_address" value="{{ address.id }}"/>
                    {{ address.get_short_address }}</label>
                </div>
            </div>
            <br/>
        {% endfor %}
        <button type="submit" class="btn btn-outline-success">{% trans "Use Address" %}</button>
    </form>
{% endif %}
