{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class='row'>
    <div class='col-10 mx-auto col-md-6'>
        <div class="bank-canvas-cell-2">
            {% if form.instance.address_line_1  %}
                <h3 class='my-5'>{% trans "Update Address" %}</h3>
            {% else %}
                <h3 class='my-5'>{% trans "Create Address" %}</h3>
            {% endif %}
            <hr>
            <form method="POST" action="">
                <div class="row bank-canvas-cell-empty">
                    <div class="col">
                        <label for="{{ form.nickname.id_for_label }}">{% trans "Nickname" %}:</label>
                    </div>
                    <div class="col-4">
                        {{ form.nickname }}<br>
                        <span class="helptext">({% trans "Internal Reference" %})</span>
                    </div>
                    <div class="col">
                        <label for="{{ form.name.id_for_label }}">{% trans "Name" %}:</label>
                    </div>
                    <div class="col-4">
                        {{ form.name }}<br>
                        <span class="helptext">{% trans "Shipping to? Who is it for" %}?</span>
                    </div>
                </div>
                <div class="row form-errors">
                    <div class="col">
                        {{ form.nickname.errors }}
                    </div>
                    <div class="col">
                        {{ form.name.errors }}
                    </div>
                </div>
                <div class="row bank-canvas-cell-empty">
                    <div class="col-2">
                        <label for="{{ form.address_type.id_for_label }}">{% trans "Type" %}: </label>
                    </div>
                    <div class="col">
                        <select name="address_type" class="form-control" required="" id="id_address_type">
                            <option value="">---------</option>
                            <option value="billing" selected="">{% trans "Billing address" %}</option>
                            <option value="shipping">{% trans "Shipping address" %}</option>
                        </select>
                    </div>
                </div>
                <div class="row bank-canvas-cell-empty">
                    <div class="col">
                        <label for="{{ form.address_line_1.id_for_label }}">{% trans "Address" %} 1:</label>
                    </div>
                    <div class="col-4">
                        {{ form.address_line_1 }}
                    </div>
                    <div class="col">
                        <label for="{{ form.address_line_2.id_for_label }}">{% trans "Address" %} 2:</label>
                    </div>
                    <div class="col-4">
                        {{ form.address_line_2 }}
                    </div>
                </div>
                <div class="row form-errors">
                    <div class="col">
                        {{ form.address_line_1.errors }}
                    </div>
                    <div class="col">
                        {{ form.address_line_2.errors }}
                    </div>
                </div>
                <div class="row bank-canvas-cell-empty">
                    <div class="col">
                        <label for="{{ form.city.id_for_label }}">{% trans "City" %}:</label>
                    </div>
                    <div class="col-4">
                        {{ form.city }}
                    </div>
                    <div class="col">
                        <label for="{{ form.country.id_for_label }}">{% trans "Country" %}:</label>
                    </div>
                    <div class="col-4">
                        {{ form.country }}
                    </div>
                </div>
                <div class="row form-errors">
                    <div class="col">
                        {{ form.city.errors }}
                    </div>
                    <div class="col">
                        {{ form.country.errors }}
                    </div>
                </div>
                <div class="row bank-canvas-cell-empty">
                    <div class="col">
                        <label for="{{ form.state.id_for_label }}">{% trans "State" %}:</label>
                    </div>
                    <div class="col-4">
                        {{ form.state }}
                    </div>
                    <div class="col">
                        <label for="{{ form.postal_code.id_for_label }}">{% trans "Postal code" %}:</label>
                    </div>
                    <div class="col-4">
                        {{ form.postal_code }}
                    </div>
                </div>
                <div class="row form-errors">
                    <div class="col">
                        {{ form.state.errors }}
                    </div>
                    <div class="col">
                        {{ form.postal_code.errors }}
                    </div>
                </div>
                <hr>
                <div class="row bank-canvas-cell-empty">
                    <div class="col-9 form-errors">
                        {{ form.non_field_errors }}
                    </div>
                    <div class="col text-right">
                        <button type="submit" class="btn btn-danger">{% trans "Save Address" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}