{% load i18n %}
{% load static %}
{% url 'contact' as contact_url %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173162717-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-173162717-1');
        </script>

        <meta name="yandex-verification" content="8e0b190a885bfae1" />

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'img/icon.png'%}" type="image/png">
        <title>OlyalyaStudio</title>
        {% include 'base/css.html' %}
    </head>
    <body>
        {% include 'base/navbar.html' with brand_name="Olyalya Studio" %}

        <span class="row">
            <div id="up" class="col left-field">
                <i class="fa fa-4x fa-arrow-circle-up"></i>
            </div>
            <div class="col">

            </div>
            <div class="col-8">
                <div class="container-field">
                <br>
                {% if messages %}
                    <div class="alert alert-success messages">
                    {% for message in messages %}
                        <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% trans "Important" %}: {% endif %}
                            {{ message }}<br/>
                        </span>
                    {% endfor %}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
                </div>
            </div>
            </div>
            <div class="col-2 right-field">
                <span>
                    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=22&l=ur1&category=homeandoutdoor&banner=0ZGPJ6QWGXFH56Q24A02&f=ifr&linkID=5c36abb504aa0f4ec300dd353a386863&t=olyastudio-20&tracking_id=olyastudio-20" width="250" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                    <hr>
                    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=22&l=ur1&category=homeandkitchen&banner=0PSXNS8E51QMK8VCMQ82&f=ifr&linkID=306ab4617e69eedcaac6736414dfe68e&t=olyastudio-20&tracking_id=olyastudio-20" width="250" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                    <hr>
                    {% if request.get_full_path != contact_url %}
                        <p class="text-center">
                            {% trans "Have any requests or questions?" %}
                        </p>
                        <p class="text-center">
                            <a href='{% url "contact" %}'>{% trans "Write me, please" %}</a>
                            </p>
                    <hr>
                    {% endif %}
                    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=22&l=ur1&category=beauty&banner=04XCSE6T0AFM7MK75482&f=ifr&linkID=5ee4516f6657cc84a5716a4302435f88&t=olyastudio-20&tracking_id=olyastudio-20" width="250" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                </span>
            </div>
        </span>
        <br><br>
        {% include 'base/footer.html' with dev_source="https://github.com/nikit34" %}

        {% include 'base/js.html' %}

        {% block javascript %}

        {% endblock %}
    </body>
</html>
