{% load i18n %}
{% load static %}
{% url 'contact' as contact_url %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173162717-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-173162717-1');
        </script>

        <meta name="yandex-verification" content="8e0b190a885bfae1" />

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'img/icon.png'%}" type="image/png">
        <title>OlyalyaStudio</title>
        {% include 'base/css.html' %}
    </head>
    <body>
        {% include 'base/navbar.html' with brand_name="Olyalya Studio" %}

        <span class="row">
            <div id="up" class="col-1 left-field">
                <i class="fa fa-4x fa-arrow-circle-up"></i>
            </div>
            <div class="col-9">
                <div class="container-field">
                <br>
                {% if messages %}
                    <div class="alert alert-success messages">
                    {% for message in messages %}
                        <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% trans "Important" %}: {% endif %}
                            {{ message }}<br/>
                        </span>
                    {% endfor %}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
                </div>
            </div>
            </div>
            <div class="col-2">
                {% include 'base/right_field.html' %}
            </div>
        </span>
        <br><br>
        {% include 'base/footer.html' with dev_source="https://github.com/nikit34" %}

        {% include 'base/js.html' %}

        {% block javascript %}

        {% endblock %}
    </body>
</html>
