{% extends 'base.html' %}
{% load i18n %}
{% load static %}

<title>{% trans "Home page" %}</title>

{% block content %}

    <div class="text-center">
        <h1>{% trans "Best offers" %}</h1>
    </div>
    {% include 'select_sort.html' %}
    <div class="row">
        {% for obj in object_list %}
            <div class="col">
                {% include 'products/card.html' with instance=obj complet="1" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <br>
            </div>
        {% endfor %}
    </div>

    {% if user.staff %}
        <div class="row">
            <div class="col">
            <hr>
                <h1>{% trans "Premium Content" %}</h1>
                {{ premium_content }}
                {% if request.get_full_path != contact_url %}
                    <p class="text-center">
                        {% trans "Have any requests or questions?" %}
                    </p>
                    <p class="text-center">
                        <a href='{% url "contact" %}'>{% trans "Write me, please" %}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}
