{% extends 'base.html' %} {% load static %}

<title>Home page template</title>

{% block content %}

<div class="text-center">
  <h1>{{ title }}</h1>
  <h1>Best offers</h1>
</div>
{% include 'snippets/select_sort.html' %}
<div class="row">
  {% for obj in object_list %}
  <div class="col">
    {% include 'snippets/card.html' with instance=obj %}
  </div>
</div>
<div class="row">
  <div class="col-12"><hr /></div>
  {% endfor %}
</div>

{% if user.staff %}
<div class="row">
  <div class="col">
    <h1>Premium</h1>
    {{ premium_content }}
  </div>
</div>
{% endif %} {% endblock %}
