{% extends 'base.html' %}
{% load i18n %}
{% load static %}

<title>{% trans "Home page" %}</title>

{% block content %}

<div class="text-center">
  <h1>{% trans "Best offers" %}</h1>
</div>
{% include 'select_sort.html' %}
<div class="row">
  {% for obj in object_list %}
  <div class="col">
    {% include 'products/card.html' with instance=obj size="1" %}
  </div>
</div>
<div class="row">
  <div class="col-12"><hr /></div>
  {% endfor %}
</div>

{% if user.staff %}
<div class="row">
  <div class="col">
    <h1>{% trans "Premium Content" %}</h1>
    {{ premium_content }}
  </div>
</div>
{% endif %} {% endblock %}
