.canvas-cart-table {
    margin-top: 5%;
    border: 1px solid #ff000080;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 5px 25px 5px 25px;
    display: inline-block;
    width: 100%;
}
.canvas-cart-table h1 {
    text-align: center;
    margin: 30px 0 30px 0;
}
table.cart-table td, table.cart-table th {
    background: whitesmoke;
    border: none;
    font-weight: normal;
    font-size: x-large;
}
table.cart-table td a {
  text-decoration-color: #00ff0080;
}
table.cart-table td a:hover {
  text-decoration-color: #00ff0010;
}
table.cart-table td button{
  transition: color 0.5s;
}
table.cart-table td button:hover {
  text-decoration: none;
  color:red;
}
table.cart-table a {
    width: 50%;
}



.checkout-title h1 {
    text-align: center;
    margin: 1em 0 1em 0;
}
.checkout-title h2 {
    text-align: center;
    margin: 1em 0 1em 0;
}
.checkout-table h3 {
    text-align: center;
}
.checkout-total .bank-canvas-cell {
    text-align: center;
    padding: 1em 0.75em 1em 0.75em;
}
.checkout-total h1 {
    color:rgb(100, 0, 100);
}

/* canvas red */
.bank-canvas-cell {
    background-color: whitesmoke;
    padding: 1.5em;
    border: 2px solid #ff000080;
    border-radius: 15px;
    font-size: x-large;
    min-width: 25em;
}

.bank-canvas-cell-2 {
    background-color: #ff000010;
    padding: 1em 2em 1em 2em;
    border: 1px solid #ff000080;
    border-radius: 15px;
    font-size: large;
    min-width: 25em;
}
.bank-canvas-cell-small {
    background-color: whitesmoke;
    padding: 1em;
    border: 1px solid #ff000080;
    border-radius: 15px;
    text-align: center;
    min-width: 25em;
}
.bank-canvas-cell-small-2 {
    background-color: #ff000050;
    padding: 1em;
    border-left: 1px solid #ff000080;
    border-right: 1px solid #ff000080;
    border-radius: 15px;
    text-align: center;
    min-width: 25em;
}
.bank-canvas-cell-empty {
  padding: 2em 1em 0 1em;
  text-align: center;
}



.payments-form-api {
    background-color: #ffffff;
    border: 2px solid #ff000080;
    border-radius: 15px;
    padding: 20px 25px 5px 25px;
    width: 100%;
    -webkit-box-direction: normal;
}
.payments-form-api h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}
@media only screen and (max-width: 675px) {
    .payments-mobile{
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
}
@media only screen and (min-width: 675px){
    .payments-desktop {
    -webkit-box-orient: horizontal;
    flex-direction: row;
    }
}



#blue {
  color: rgb(0, 0, 255);
  transition: 0.5s all;
}
#blue:hover {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
  margin-top: -2%;
  color: rgba(0, 0, 255, 0.5);
  transform: rotate(-15deg);
}
#red {
  color: rgb(255, 0, 0);
  transition: 0.5s all;
}
#red:hover {
  color: rgba(255, 0, 0, 0.5);
  margin-top: -2%;
  transform: rotate(15deg);
}
#yellow {
  color: rgb(220, 255, 0);
  transition: 0.5s all;
}
#yellow:hover {
  color: rgba(220, 255, 0, 0.5);
  margin-top: -2%;
  transform: rotate(180deg);
}
#green {
  color: rgb(0, 255, 0);
  transition: 0.1s all;
}
#green:hover {
  color: rgba(0, 255, 0, 0.5);
  margin-top: 1.5%;
  transform: rotate(10deg);
}
#blink:hover {
  -webkit-animation: blink 0.5s 0.7s ease infinite;
  -moz-animation: blink 0.5s 0.7s ease infinite;
  -o-animation: blink 0.5s 0.7s ease infinite;
  animation: blink 0.5s 0.7s ease infinite;
}