.canvas-cart-table {
    margin-top: 5%;
    border: 2px solid #ff000080;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 5px 25px 5px 25px;
    display: inline-block;
    width: 100%;
}

.canvas-cart-table h1 {
    text-align: center;
    margin: 30px 0 30px 0;
}

table.cart-table td, table.cart-table th {
    background: whitesmoke;
    border: none;
    font-size: large;
}

table.cart-table a {
    width: 50%;
}

.checkout h1 {
    text-align: center;
    margin: 2.5% 0 5% 0;
}

.checkout-table h3 {
    text-align: center;
}

.checkout-total .canvas-cell {
    text-align: center;
    padding: 2.5% 2% 2.5% 2%;
}

.checkout-total h2 {
    color:rgb(100, 0, 100);
}

.canvas-cell {
    background-color: whitesmoke;
    padding: 5%;
    border: 2px solid black;
    border-radius: 15px;
    font-size: x-large;
}

.payments-form-api {
    background-color: #ffffff;
    border: 2px solid #ff000080;
    border-radius: 15px;
    padding: 20px 25px 5px 25px;
    width: 100%;
    -webkit-box-direction: normal;
}

.payments-form-api h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}

@media only screen and (max-width: 675px) {
    .payments-mobile{
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
}

@media only screen and (min-width: 675px){
    .payments-desktop {
    -webkit-box-orient: horizontal;
    flex-direction: row;
    }
}
