html {
    overflow-x: hidden;
}



body {
    background-color: whitesmoke;
}
body img.main {
    background-repeat: no-repeat;
    position: absolute;
    z-index: -2;
    width: 50%;
    margin: 5% 5% 5% 20%;
    border-radius: 30%;
    filter: blur(2px);
}
body img.log {
    position: fixed;
    z-index: -1;
    top:0;
    left:0;
}



h1, h2, h3, h4, h5, h6 {
    font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}



.navbar {
    margin-right:10px;
    border-style: none;
    border-bottom-style: groove;
    background: radial-gradient(circle, #ff00001f 50%, rgba(255, 255, 255, 0) 100%);
}
.navbar .nav-item .nav-link {
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: smaller;
    background-image: linear-gradient(0deg, #ff000080 0%, #ff00001f 80%, #ffffff00 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 80%;
    transition: background-size 0.25s ease-out;
}
.navbar .nav-item .nav-link:hover{
    background-size: 100% 80%;
}
.navbar-toggler {
    background-color: rgba(255, 0, 0, 0.5);
}



form.form-reglog {
    background-color: white;
    border: 2px solid #0000ff80;
    border-radius: 15px;
    padding: 5px 25px 5px 25px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
form.form-reglog h1 {
    color: #0000ff80;
}



.card-home {
    width: 100%;
}
.card-home-body {
    padding: 1.25em 1em 1em 1em;
    border-radius: 5%;
}
.list-group-item{
    transition: background-color 0.5s;
}
.list-group-item:hover {
    background-color: wheat;
}


div.left-field {
    background: linear-gradient(270deg, #ffffff00 50%, #ff00001f 100%);
    top:0.5vh;
    min-height: 90vh;
}
div.right-field {
    background: rgba(100, 100, 255, 0.025);
    top:0.5vh;
    min-height: 90vh;
}



/* btn */
.btn-danger {
    border-color:#ff000080;
    color:black;
    background-color:#ff000080;
    transition: border-color 1.5s, background-color 0.5s;
}
.btn-warning {
    border-color:#ffff0080;
    color:black;
    background-color:#ffff0080;
    transition: border-color 1.5s, background-color 0.5s;
}
.btn-success {
    border-color:#00ff0080;
    color:black;
    background-color:#00ff0080;
    transition: border-color 1.5s, background-color 0.5s;
}
.btn-info {
    border-color:#0000ff80;
    color:black;
    background-color:#0000ff80;
    transition: border-color 1.5s, background-color 0.5s;
}

/* btn hover */
.btn-danger:hover {
    border-color:rgb(0, 0, 0);
    color:black;
    background-color:#ff000010;
}
.btn-warning:hover {
    border-color:rgb(0, 0, 0);
    color:black;
    background-color:#ffff0010;
}
.btn-success:hover {
    border-color:rgb(0, 0, 0);
    color:black;
    background-color:#00ff0010;
}
.btn-info:hover {
    border-color:rgb(0, 0, 0);
    color:black;
    background-color:#0000ff10;
}

/* btn outline */
.btn-outline-danger {
    border-color:#ff000050;
    color:black;
    transition: border-color 1.5s, background-color 0.5s;
}
.btn-outline-warning {
    border-color:#ffff0050;
    color:black;
    transition: border-color 1.5s, background-color 0.5s;
}
.btn-outline-success {
    border-color:#00ff0050;
    color:black;
    transition: border-color 1.5s, background-color 0.5s;
}
.btn-outline-info {
    border-color:#0000ff50;
    color:black;
    transition: border-color 1.5s, background-color 0.5s;
}

/* btn outline hover */
.btn-outline-danger:hover {
    border-color:#ff0000;
    color:black;
    background-color:#ff000080;
}
.btn-outline-warning:hover {
    border-color:#ffff00;
    color:black;
    background-color:#ffff0080;
}
.btn-outline-success:hover {
    border-color:#00ff00;
    color:black;
    background-color:#00ff0080;
}
.btn-outline-info:hover {
    border-color:#0000ff;
    color:black;
    background-color:#0000ff80;
}



/* canvas blue */
.base-canvas-cell {
    background-color: whitesmoke;
    padding: 1.5em;
    border: 2px solid #0000ff80;
    border-radius: 15px;
    font-size: x-large;
}
.base-canvas-cell-2 {
    background-color: #0000ff10;
    padding: 1em 2em 1em 2em;
    border: 1px solid #0000ff80;
    border-radius: 15px;
    font-size: large;
}
.base-canvas-cell-small {
    background-color: whitesmoke;
    padding: 1em;
    border: 1px solid #0000ff80;
    border-radius: 15px;
    text-align: center;
}
.base-canvas-cell-small-2 {
    background-color: #0000ff50;
    padding: 1em;
    border-left: 1px solid #0000ff80;
    border-right: 1px solid #0000ff80;
    border-radius: 15px;
    text-align: center;
}
.base-canvas-cell-empty {
    padding: 2em 1em 0 1em;
    text-align: center;
}



footer.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.75vh;
    text-align: center;
    transition: all 0.8s;
}
footer.footer:hover{
    background: #ff00001f;
}
footer.footer #instagram{
    font-size: 1.2em;
    transition: all 0.8s;
    background-color: rgba(128, 0, 128, 0.5);
}
footer.footer #instagram:hover{
    background-color: purple;
}
footer.footer #pinterest{
    font-size: 1.2em;
    transition: all 0.8s;
    background-color: rgba(112, 128, 144, 0.5);
}
footer.footer #pinterest:hover{
    background-color: slategray;
}
footer.footer #facebook{
    padding-top: 0.3em;
    transition: all 0.8s;
    background-color: rgba(90, 181, 255, 0.5);
}
footer.footer #facebook:hover{
    background-color: white;
}
footer.footer #etsy{
    font-size: 0.8em;
    padding-top: 0.5em;
    transition: all 0.8s;
    background-color: rgba(255, 255, 0, 0.5);
}
footer.footer #etsy:hover{
    background-color: yellow;
}



div.about {
    min-height: 600px;
}