{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-10">
            <h4><b>{{ object.title }}</b></h4>
            {{ object.timestamp|timesince }} ago
        </div>
        <div class="col">
            <br/>
            {% include 'products/snippets/update-cart.html' with product=object cart=cart %}
        </div>
    </div>
    <hr/>
    <br/>
    <div class="row">
        <div class="col">
            {{ object.description|linebreaks }}
        </div>
        <div class="col">
            {% if object.image %}
                <img src="{{ object.image.url }}" class="img-fluid" />
            {% endif %}
        </div>
    </div>
    <br/>

{% endblock %}
