{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-9">
            <h4><b>{{ object.title }}</b></h4>
            {{ object.timestamp|timesince }} ago
        </div>
        <div class="col">
            <div class="row" style="margin-top: 10px; margin-right:5%;">
                <h3 style="margin-right: 5%; margin-left: auto; margin-top: 5px;">{{ object.price }} &#36;</h3>
                {% include 'products/snippets/update-cart.html' with product=object cart=cart %}
            </div>
        </div>
    </div>
    <hr/>
    <br/>
    <div class="row">
        <div class="col">
            {{ object.description|linebreaks }}
        </div>
        <div class="col">
            {% if object.image %}
              <img src="{{ object.image.url }}" class="img-fluid" />
            {% else %}
                <p style="margin-left:50%; margin-top:50px;">Image not found</p>
            {% endif %}
            {% for slide in slides %}
              <img src="{{ slide.file.url }}" class="img-fluid" />
            {% endfor %}


            


        </div>
    </div>
    <br/>

{% endblock %}
