{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <div class="row detail-top-panel">
        <div class="col-8">
            <h4><b>{{ object.title }}</b></h4>
            {{ object.timestamp|timesince }} {% trans "ago" %}
        </div>
        <div class="col">
            <div class="row detail-price-update">
                <div class="v-line">
                </div>
                <h2>
                  {{ object.price }} &#36;
                </h2>
                {% include 'products/update-cart.html' with product=object cart=cart %}
            </div>
        </div>
    </div>
    <hr/>
    <div class="row detail-content">
      <div class="col detail-description">
        {{ object.description|linebreaks }}
      </div>
      <div class="col-8">
        <div id="carouselAction" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselAction" data-slide-to="0" class="active"></li>
          {% for slide in slides %}
            <li data-target="#carouselAction" data-slide-to="{{ forloop.counter }}"></li>
            {{ forloop.counter1 }}
          {% endfor %}
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
            {% if object.image %}
                <img src="{{ object.image.url }}" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ object.title }}</h5>
                  <p>{{ object.description }}</p>
                </div>
            {% else %}
              <p style="margin-left:50%; margin-top:50px;">{% trans "Image not found :(" %}</p>
            {% endif %}
            </div>
            {% for slide in slides %}
              <div class="carousel-item">
              {% if slide.image %}
                <img src="{{ slide.image.url }}" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ slide.name }}</h5>
                  <p>{{ slide.description }}</p>
                </div>
              {% else %}
                <p style="margin-left:50%; margin-top:50px;">{% trans "Image not found :(" %}</p>
              {% endif %}
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselAction" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">{% trans "Previous" %}</span>
          </a>
          <a class="carousel-control-next" href="#carouselAction" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">{% trans "Next" %}</span>
          </a>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row detail-comments">
        <div class="col" id="comments">
            <h6 class="text-right">{{ comments.count }} {% trans "comments" %}</h6>
            {% for comment in comments %}
                <hr/>
                <div class="row container-field">
                    <div class="col">
                        <h6>{{ comment.sender }}</h6>
                    </div>
                    <div class="col text-right">
                        <h6><em>{% trans "says" %}: {{ comment.send_time }}</em></h6>
                    </div>
                </div>
                <div class="container">
                    {{ comment.msg }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if new_comment %}
                <div class="alert alert-success" role="alert">
                    {% trans "Your comment is awaiting moderation" %}
                </div>
            {% else %}
                <form method="POST" id="form_comments">
                    {% csrf_token %}
                    <div class="row d-flex justify-content-center">
                        <h2 class="text-center">{% trans "Leave a comment" %}</h2>
                        <div class="col-4"></div>
                        <button type="submit" class="btn btn-outline-info">{% trans "Submit" %}</button>
                    </div>
                    <br/>
                    <div class="row d-flex justify-content-center">
                        <label for="{{ form.msg.id_for_label }}"></label>
                        <textarea name="msg" cols="100" rows="10" required="" id="id_msg"></textarea>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
