{% extends "base.html" %}

{% block content %}

<div class="row text-center justify-content-center">
    {% for obj in object_list %}
        {% if forloop.counter0|divisibleby:2 %}
            </div><div class="row text-center justify-content-center">
        {% endif %}
        <div class="col-11 col-sm-8 col-lg-10 col-xl-8 my-3">
            {%  if object_list.count != 1 %}
                {% include 'products/card.html' with instance=obj complet="0" %}
            {% else %}
                {% include 'products/card.html' with instance=obj complet="1" %}
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
